openapi: 3.1.0
info:
  title: OpenSourceWebsite API Documentation
  description: OpenSourceWebsite API Documentation
  version: "1.0"
servers:
  - url: https://opensourcewebsite.org/api/v1.0/
paths:
  /cron-jobs:
    get:
      summary: Get cron jobs list
      tags:
        - Cron job
      parameters:
        - $ref: '#/components/parameters/tokenParam'
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Cron job name
                  required:
                    - id
                    - title
  /cron-job-log:
    get:
      summary: Get cron job log
      tags:
        - Cron job
      parameters:
        - $ref: '#/components/parameters/tokenParam'
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    created_at:
                      type: string
                      description: Format\:YYYY-MM-DD HH\:mm\:ss
                      example: '2019-02-18 08:29:09'
                    message:
                      type: string
                      example: Running languages parser...
                    cron_job_name:
                      type: string
                      example: WikipediaParser
                  required:
                    - created_at
                    - message
                    - cron_job_name
  /cron-job-log/{cronJobId}:
    get:
      summary: Get log for given cron job
      tags:
        - Cron job
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: cronJobId
          schema:
            type: integer
          required: true
          description: Cron job id
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    created_at:
                      type: string
                      description: Format\:YYYY-MM-DD HH\:mm\:ss
                      example: '2019-02-18 08:29:09'
                    message:
                      type: string
                      example: Running languages parser...
                  required:
                    - created_at
                    - message
  /countries:
    get:
      summary: Get country list
      tags:
        - Data
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: query
          name: page
          schema:
            type: integer
          description: Pagination page
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Afghanistan
                    code:
                     type: string
                     minLength: 2
                     maxLength: 2
                     example: AF
                    slug:
                      type: string
                      example: afghanistan
                    wikipedia:
                      type: string
                      example: https://en.wikipedia.org/wiki/Afghanistan
                  required:
                    - id
                    - name
                    - code
                    - slug
  /currencies:
    get:
      summary: Get currency list
      tags:
        - Data
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: query
          name: page
          schema:
            type: integer
          description: Pagination page
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    code:
                      type: string
                      minLength: 3
                      maxLength: 3
                      example:   ALL
                    name:
                      type: string
                      example: Albania Lek
                    symbol:
                      type: string
                      example:   Lek
                  required:
                    - id
                    - code
                    - name
  /languages:
    get:
      summary: Get language list
      tags:
        - Data
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: query
          name: page
          schema:
            type: integer
          description: Pagination page
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Afaraf
                    code:
                      type: string
                      minLength: 2
                      maxLength: 2
                      example: aa
                    name_ascii:
                      type: string
                      example: Afar
                  required:
                    - id
                    - name
                    - code
                    - name_ascii
  /settings:
    get:
      summary: Get settings list
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/tokenParam'
      responses:
        '200':
          description: List
          headers:
            X-Pagination-Total-Count:
              schema:
                type: integer
              description: Total items amount
            X-Pagination-Page-Count:
              schema:
                type: integer
              description: Pages amount
            X-Pagination-Current-Page:
              schema:
                type: integer
              description: Current page number
            X-Pagination-Per-Page:
              schema:
                type: integer
              description: Items amount per page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      example: days_count_to_calculate_active_rating
                    value:
                      type: string
                      example: 31
                    updated_at:
                      type: string
                      description: Format\:YYYY-MM-DD HH\:mm\:ss
                      example: '2019-02-18 08:29:09'
                  required:
                    - key
                    - value
                    - updated_at
  /settings/{settingId}:
    get:
      summary: Get setting values
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: settingId
          schema:
            type: integer
          required: true
          description: Setting id
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    value:
                      type: string
                      example: 31
                    is_current:
                      type: boolean
                      example: false
                    votes:
                      type: integer
                      example: 4
                      description: Percent voted for setting
                    user_voted:
                      type: boolean
                      example: false
                  required:
                    - id
                    - value
                    - is_current
                    - votes
    post:
      summary: Add new value
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: settingId
          schema:
            type: integer
          required: true
          description: Setting id
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_value:
                  type: string
              required:
                - new_value
      responses:
        '200':
          description: OK
  /settings/{settingId}/vote:
    post:
      summary: Vote for settings
      tags:
        - Settings
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: settingId
          schema:
            type: integer
          required: true
          description: Setting id
      responses:
        '200':
          description: OK
  /users:
    get:
      summary: Get users information
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/tokenParam'
      responses:
        '200':
          description: Users information
          content:
            application/json:
              schema:
                type: object
                properties:
                  confirmed_user_amount:
                    type: integer
                    description: Confirmed user amount
                    example: 10
                required:
                  - confirmed_user_amount
  /users/account:
    get:
      summary: Get current user information
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/tokenParam'
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User id
                    example: 10
                  email:
                    type: string
                    description: User email
                    example: alex@gmail.com
                  name:
                    type: string
                    description: Name
                    example: Alex Sokolov
                  username:
                    type: string
                    description: Name
                    example: Alex
                  rating:
                    type: integer
                    description: Active rating
                    example: 1
                  total_rating:
                    type: integer
                    description: Overall Rating
                    example: 20747
                  rank:
                    type: integer
                    description: Rank
                    example: 10
                  total_rank:
                    type: integer
                    description: Total rank
                    example: 50
                required:
                  - id
                  - name
  /users/{userId}:
    get:
      summary: Get user information
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: userId
          schema:
            type: integer
          required: true
          description: User id or user name if defined
      responses:
        '200':
          description: Users information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User id
                    example: 10
                  name:
                    type: string
                    description: Name
                    example: Alex Sokolov
                  username:
                    type: string
                    description: Name
                    example: Alex
                required:
                  - id
                  - name
    post:
      summary: Edit user information
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/tokenParam'
        - in: path
          name: userId
          schema:
            type: integer
          required: true
          description: User id or user name if defined
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
              required:
                - name
      responses:
        '200':
          description: OK
  /login:
    post:
      summary: Login user
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: Login data
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Access token for API
                    example: WAoFyEFswfRMepG53WGp
                required:
                  - access_token
  /logout:
    post:
      summary: Logout user
      tags:
        - User
      responses:
        '200':
          description: OK
  /signup:
    post:
      summary: Sign up user
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: OK
  /request-password-reset:
    post:
      summary: Send request password reset
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '200':
          description: OK
  /reset-password:
    post:
      summary: Update password
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
                - password
      responses:
        '200':
          description: OK
  /confirm:
    post:
      summary: Confirm email
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: User id
                auth_key:
                  type: string
              required:
                - user_id
                - auth_key
      responses:
        '200':
          description: OK
  /resend-confirmation-email:
    post:
      summary: Send confirmation email
      tags:
        - User
      responses:
        '200':
          description: OK
  /change-language:
    post:
      summary: Change language
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                language_code:
                  type: string
                  description: Language code
              required:
                - language_code
      responses:
        '200':
          description: OK
  /invite:
    post:
      summary: Store invite
      tags:
        - User
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: string
              required:
                - user_id
      responses:
        '200':
          description: OK
components:
  parameters:
    tokenParam:
      in: header
      name: X-Access-Token
      schema:
        type: string
        format: string
      description: Access token for API
      required: true
